
.nav {
    grid-area: n;
    background-color: rgba(0, 128, 128, 0.31);
    padding: 20px;
    font-size: large;
}
.item a{
    color: rgb(15, 118, 110);
    text-decoration: none;
}
.item a.activeLink {
    color: #093a09;
    font-weight: bold;
}