.pageWrapper {
    display: flex;
    justify-content: center;
}

.page {
    color: #cbffff;
    padding: 5px;
    border: teal 1px solid;
    cursor: pointer;
}

.selectedPage {

    font-weight: bold;
    border: #464d91 2px solid;
    padding: 5px;
    cursor: pointer;
    background-color: #c9b08f;
}
.btn {
    cursor: pointer;
    border: solid 1px white;
    border-radius: 20px;
    color: white;
    background-color: #2187e7;
}